{
    "env": "development",
    "tcp_address": ":5000",
    "http_address": ":5001",
    "mongodb_address": "mongodb://localhost:27017",
    "db": "",
    "logic_rpc_address": ":7071",
    "auth_rpc_address": "7072",
    "secret_key": "jwt secret token"
}