body {
    margin: auto;
    background: #f2ecf2;
}

.text-gray {
    color: #8c92a4;
}

.chat-container {
    width: 1024px;
    height: 800px;
    display: flex;
    overflow: hidden;
    margin: 61px auto;
    background-color: #fafafc;
}

.contact-panel {
    padding-left: 12px;
    overflow: auto;
}

.search-input {
    input {
        width: 90%;
        background: #fafafc;
        padding: 12px 6px;
        border: none;
        border-bottom: 1px solid #eeeeee;
    }
}

.user-avatar {
    display: flex;
    align-items: center;
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.chat.avatar.normal {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.fs12 {
    font-size: 12px;
}