.sidebar {
  width: 55px;
  height: 100%;
  background: #ffc54d;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 21px 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  i {
      margin: 21px 0;
      cursor: pointer;
      &.active {
        color: #ffffff;  
      }
  }
}
