.contact-panel__list {
  width: 300px;
  .unread-circle {
    border-radius: 50%;
    background: #ff5e5e;
    color: white;
    padding: 0 4px;
    font-size: 12px;
    display: inline-block;
  }
  .contact-panel__user {
    display: flex;
    background: white;
    padding: 8px 12px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    &.active {
      &::before {
        position: absolute;
        width: 4px;
        height: 100%;
        content: '';
        left: 0;
        top: 0;
        background: orange;
      }
    }
    .contact-panel-user__info {
      flex: 1;
      margin-left: 12px;
      .user__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;
        .user__name {
          font-weight: bold;
        }
      }
      .user__desc {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;
        .message-desc {
          font-size: 12px;
        }
      }
    }
  }
}